

/******Scroll Button Code*******/

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: #1922d6;
    text-align: center;
    line-height: 30px;
    padding: 5px;
    color: #fff;
    z-index: 100;
    display: none;
    border-radius: 50%;
    font-size:5px;
}
